.textInput {
	padding-inline: calc(1.125rem * var(--mantine-scale));
}

.textInput.filled {
	color: var(--mantine-color-white);
	background-color: var(--mantine-primary-color-filled);

	&:hover {
		background-color: var(--mantine-color-blue-filled-hover);
	}
}

.textInput.outline {
	&:hover {
		background-color: var(--mantine-color-default-hover);
	}
}
