---
import "@mantine/core/styles.css";
import "~/styles/main.css";

import CommonHead from "~/components/CommonHead/CommonHead.astro";
import { SearchParams } from "~/constants/location";
import { Form } from "~/layouts/Form/Form";

const { id } = Astro.params;

console.log(Astro.params);

const { searchParams } = Astro.url;

const props = {
	formId: id,
	isPreview: Boolean(searchParams.get(SearchParams.PREVIEW)),
};
---

<html lang="en">
	<head>
		<CommonHead />
	</head>

	<body>
		<main>
			<Form {...props} client:only="react" />
		</main>
	</body>
</html>
