---
import "@mantine/core/styles.css";
import "@/styles/main.css";
import { Admin } from '@/layouts/Admin/Admin';
import type { FormType } from "@/constants/forms";
import CommonHead from "@/components/CommonHead/CommonHead.astro";

const responseJson = await fetch(new URL("/api/forms", Astro.url));
const response = await responseJson.json() as { data: FormType[]};

const props = {
	count: 0,
	forms: response.data,
};

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<CommonHead />
	</head>

	<body>
		<main>
			<Admin {...props} client:only="react" />
		</main>
	</body>
</html>
