---
import "@mantine/core/styles.css";
import "../styles/main.css";
import { Admin } from '@/components/admin/Admin';
import type { FormType } from "@/constants/forms";

const responseJson = await fetch(new URL("/api/forms", Astro.url));
const response = await responseJson.json() as { data: FormType[]};

const props = {
	count: 0,
	forms: response.data,
};

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>

	<body>
		<main>
			<Admin {...props} client:visible />
		</main>
	</body>
</html>
