---
import "@mantine/core/styles.css";
import "@/styles/main.css";

import { Builder } from '@/layouts/Builder/Builder';
import CommonHead from "@/components/CommonHead/CommonHead.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<CommonHead />
	</head>

	<body>
		<main>
			<Builder client:only="react" />
		</main>
	</body>
</html>
